services:
  db:
    platform: linux/x86_64
    image: mysql:5.7
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=nlc
    command:
    ports:
      - "3306:3306"
    volumes:
      - ./backend/database/virtual-volume:/var/lib/mysql
    networks:
      - default

  backend:
    build:
      context: ./backend
      args:
        PORT: 8080
    ports:
      - "8080:8080"
    environment:
      - DATABASE_URL=mysql://root:root@db:3306/nlc
      - DATABASE_PORT=3306
      - DATABASE_NAME=nlc
    depends_on:
      - db
    networks:
      - default

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - default

volumes:
  virtual-volume:

networks:
  default:
    driver: bridge
